<div class="container">
  <a href="/">Home Page</a>
  <a href="/instructions/<%= @instruction.id %>/edit" role="button" class="btn btn-danger">Edit</a>

  <h3>Ingredients</h3>
  <ul>
    <% @ingredients.each() do |ingredient| %>
      <li><%= ingredient.name %> <button class="remove" id="<%= ingredient.id %>" alt="<%= @instruction.id %>">Delete</button></li>
    <% end %>
  </ul>
  <form action="/recipes/<%= @instruction.id %>/add_ingredient" method="post">
    <h3>Add an ingredient to <%= @instruction.description() %></h3>
    <div class="form-group">
      <label for="ingredient">Add ingredient</label>
      <input id="ingredient" name="ingredient" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <form action="/recipes/<%= @instruction.id %>/add_tag" method="post">
    <h3>Add a tag for <%= @instruction.description() %></h3>
    <div class="form-group">
      <input id="instruction_id" name="instruction_id" type="hidden" value="<%= @instruction.id() %>">
      <label for="description">Tag: </label>
      <input id="description" name="description" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <h4> You rated this a <%= @instruction.rating %></h4>
  <form action="/recipes/<%= @instruction.id %>/update_rating" method="post">
    <input name ="_method" type="hidden" value="patch">
    <label for="rating">Update rating</label>
    <select id="rating" name="rating" type='text'>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
      <option value = "10">10</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  <h3>Tags</h3>
  <ul>
    <% @instruction.tags.each() do |tag| %>
      <li> <a href="/tags/<%= tag.id %>"><%= tag.description %></a></li>
    <% end %>
  </ul>

</div>
